{% extends 'layout.html' %}
{% block content %}
<div class="row">
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">GitHub</h4>
          <a class="preview-subject" href="https://github.com/AnaMafraCosta/projeto_codigos_DDD.git" >Projeto Codigos DDD</a>
        </div>
      </div>
    </div>

    <div class="col-md-8 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
                <h4 class="card-title mb-1">Informática 2M</h4>
                <p class="text-muted mb-1">2023</p>
            </div>
                    <div class="preview-list">
                      <div class="preview-item border-bottom">
                        <div class="preview-thumbnail">
                          <div class="preview-icon bg-primary">
                            <i class="mdi mdi-file-document"></i>
                          </div>
                        </div>
                        <div class="preview-item-content d-sm-flex flex-grow">
                          <div class="flex-grow">
                            <h6 class="preview-subject">Alice Araújo dos Santos</h6>
                            <p class="text-muted mb-0">20191104010042</p>
                          </div>
                        </div>
                      </div>
                      <div class="preview-item">
                        <div class="preview-thumbnail">
                          <div class="preview-icon bg-success">
                            <i class="mdi mdi-cloud-download"></i>
                          </div>
                        </div>
                        <div class="preview-item-content d-sm-flex flex-grow">
                          <div class="flex-grow">
                            <h6 class="preview-subject">Ana Luíza Mafra Costa</h6>
                            <p class="text-muted mb-0">20191104010001</p>
                          </div>
                        </div>
                      </div>
                    </div>
        </div>
    </div>
    </div>
  </div>
{% endblock %}